{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    .icon {
        color: rgb(10, 54, 34, 1);
    }
    .icon:hover {
        color: rgba(13, 83, 51, 0.834);
        cursor: pointer;
    }

    a {
        color: black;
    }

    .form-control:focus {
        border-color: #a3fb99;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.015), 0 0 8px rgb(98, 176, 113);
    }
</style>
{% endblock %}

{% block main_content %}
<h1 class="p-4 position-fixed"><a href="{% url 'movie-list' %}"><i class="bi bi-arrow-left-circle-fill icon"></a></i></h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-8">
            <h1 class="mb-3 text-success-emphasis">{{movie.title}}</h1>
            <div class="d-flex justify-content-between"style="width: 80%;">
                <p class="text-success-emphasis">{{movie.year}} • {{movie.duration}}</p>
                <div class="d-inline-block text-success-emphasis"><strong><i class="bi bi-star-fill text-warning"></i> {{movie.rating}}</strong>/10</div>
            </div>
            <div>
                <img src="{% static 'images/demo-poster.jpg' %}" alt="" style="width: 80%;">
            </div>
            <div class="d-flex">
                {% for g in genre_list %}
                    <div class="d-inline-block border border-2 border-success px-2 rounded rounded-4 my-3 me-1">{{g}}</div>
                {% endfor %}
            </div>
            <p class="text-secondary" style="width: 80%;">{{movie.description}}</p>
            <p><strong class="text-success-emphasis">Language</strong> {{movie.language}}</p>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}