{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    .hover-card:hover {
        box-shadow: 0px 0px 21px -2px rgb(98, 176, 113);
    }
    a {
        text-decoration: none;
        color: black;
    }

    .form-control:focus {
        border-color: #a3fb99;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.015), 0 0 8px rgb(98, 176, 113);
    }
</style>
{% endblock %}

{% block main_content %}
<div class="container my-5">
    <h1 class="text-center mb-5 text-success-emphasis"><strong>MOVIES</strong></h1>
    <div class="row">
        {% for m in data %}
            <div class="col-3 mb-3">
                <a href="{% url 'movie-detail' m.id %}">
                <div class="card hover-card" style="width: 100%;">
                    {% if m.poster %}
                    <img src="{{m.poster}}" class="card-img-top" alt="Movie poster" style="height: 250px;">
                    {% endif%}
                    <div class="card-body">
                      <h5 class="card-title text-success">{{m.title}}</h5>
                      <p class="d-inline-block me-3"><em>{{m.genre}}</em></p>
                      <span><i class="bi bi-star text-warning"></i> <strong class="text-">{{m.rating}}</strong></span>
                      <div class="d-grid gap-2 d-md-block">
                        <a href="{% url 'movie-update' m.id %}" class="text-info me-2" style="text-decoration: none;"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'movie-delete' m.id %}" class="text-danger" style="text-decoration: none;"><i class="bi bi-trash-fill"></i></a>
                      </div>
                    </div>
                    <!-- <ul class="list-group list-group-flush">
                      <li class="list-group-item">Year: {{m.year}}</li>
                      <li class="list-group-item">Genre: {{m.genre}}</li>
                      <li class="list-group-item">Rating: {{m.rating}}</li>
                      <li class="list-group-item">Language: {{m.language}}</li>
                    </ul> -->
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}